<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/bca5c696fd.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/home.css}" rel="stylesheet">

</head>
<body>
<header th:replace="fragments/header::header"></header>
<h1>WOLOLO</h1>
<a  th:if="${session.user == null}" class="a-style" th:href="@{/auth/login}">Login</a>
<a  th:if="${session.user == null}" class="a-style" th:href="@{auth/register}">Register</a>

<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>